.board {
    padding: 5em 0em 0em 2.5%;
    width: 100%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 2.5%;
    grid-template-areas: 
        "header header header"
        "todo doing done";
}

.board-header {
    grid-area: header;
    height: 4em;
    display: grid;
    grid-template-columns: 6em 7em;
}

.board-header img {
    height: 2em;
    margin-top: 1em;
    filter: invert(50%);
    cursor: pointer;
    transition: all .2s ease;
}

.board-header select {
    height: 2em;
}

.first {
    grid-area: todo;
}

.mid {
    grid-area: doing;
}

.last {
    grid-area: done;
}

.flex {
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: .5em 1vw 1em 1vw;
    background-color: #ECF0F1;
    border-radius: .3em;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
}

.column-header {
    width: 100%;
}

.column-header p {
    float: left;
}

.column-header img {
    height: 1.6em;
    filter: invert(60%);
    float: right;
    margin-top: 1em;
    z-index: 0;
    cursor: pointer;
}

.modal-content {
    text-align: center;
    width: 25em;
    height: auto;
    display: grid;
}

.modal-content input, textarea {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    resize: none;
    outline: none;
    border: none;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
    margin: .2em;
    padding: .2em;
}

.modal-content input {
    height: 3em;
}

.modal-content textarea {
    height: 5em;
}

.buttons {
    display: grid;
    grid-template-columns: 50% 50%;
}

.modal-content button {
    height: 3em;
    margin: 1em .2em 0em .2em;
    cursor: pointer;
    background-color: #ECF0F1;
    border-radius: .4em;
    font-weight: 400;
    font-size: 1em;
    transition: all .2s ease;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
    float: left;
}

.first-button {
    border: .2em solid rgba(40,55,71,1);
    color: rgba(40,55,71,1);
}

.first-button:hover {
    background-color: rgba(40,55,71,1);
    color: #ECF0F1;
}

.delete {
    border: .2em solid #CB4335;
    color: #CB4335;
}

.delete:hover {
    background-color: #CB4335;
    color: #ECF0F1;
}

.info-text {
    height: 1em;
    color: #E74C3C;
}

.back {
    border: .2em solid #909497;
    color: #909497;
}

.back:hover {
    background-color: #909497;
    color: #ECF0F1;
}

@media only screen and (max-width: 1200px) {
    .board {
        padding: 5em 0em 0em 4%;
        grid-template-columns: 28% 28% 28%;
        column-gap: 4%;
    }
}

@media only screen and (max-width: 500px) {
    .modal-content {
       width: 80vw;
    }
}